.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    margin-left: auto;
    margin-right: 50px;
    background-color: forestgreen;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.message:hover {
    background-color: orange;
    color: black;
}